{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}




{% block header %}


<div class="entete">

    <h4>Bienvenue sur Genwod</h4>

    <hr>

    <img src="{{ asset('img/logo.png') }}" alt="Logo Genwod">

    <hr>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <p>Bonjour, {{ app.user.nom }} !</p>

    {% else %}

        <p>Bonjour, visiteur !</p>

    {% endif %}
    
        

    </div>

{% endblock %}

{% block body %}

    <div class="body-wrapper">
        {# Affichage de l'exercice du jour  #}
        {% if exercice is defined %}
            <p><span style="color: #DA7635;">DATE : </span>{{ exercice.createdAt|date('d-m-Y') }}</p>
            <p><span style="color: #DA7635;">TYPE DE WOD : </span>{{ exercice.type }}</p>
            {% if exercice.duree is defined and exercice.duree is not null %}
            <p><span style="color: #DA7635;">DUREE : </span>{{ exercice.duree }} mns</p>
            {% endif %}
            <p><span style="color: #DA7635;">DIFFICULTE : </span>{{ exercice.difficulte }}</p>

            <hr>
    
    <div class="separateur"></div>

    <div class="description-column">
        {% for item in exercice.description|split('\n') %}
            <div>{{ item }}</div>
        {% endfor %}
    </div>

    </div>
    
    <div class="boutons">

        <a href="{{ path('app_exercice_show', {'id': exercice.id}) }}" class="btn btn-primary btn-space"><i class="fa-solid fa-dumbbell fa"></i> &nbsp; Voir l'exercice</a>
        
        <a href="{{ path('app_home') }}" class="btn btn-primary"><i class="fa-solid fa-shuffle fa"> &nbsp; </i>Générer un autre WOD</a>
        
    </div>

    {% endif %}

{% endblock %}
