{% extends 'base.html.twig' %}

{% block title %}Favoris index{% endblock %}

{% block body %}
    <h1>Favoris index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Date de l'exercice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favori in favoris %}
            <tr>
                <td>{{ favori.id }}</td>
                <td>{{ favori.userId.prenom }} {{ favori.userId.nom }}</td>
                <td>{{ favori.exerciceId.createdAt|date('d-m-Y') }}</td> 
                <td>
                    <a href="{{ path('app_admin_favoris_edit', {'id': favori.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Pas de favori trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_favoris_new') }}" class="btn btn-primary">Créer un favori</a>
{% endblock %}
