{% extends 'base.html.twig' %}

{% block title %}Leaderboard index{% endblock %}

{% block body %}
    <h1>Leaderboard index</h1>

    <form action="{{ path('app_leaderboard_exercise') }}" method="get">
    <select id="exercice" name="exercice" onchange="this.form.submit()">
        {% for exercice in exercices %}
            <option value="{{ exercice.id }}" {% if exercice.id == id %}selected{% endif %}>
                {{ exercice.description }}
            </option>
        {% endfor %}
    </select>
    </form>

    <table class="table">
    
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Total de répétitions</th>
            </tr>
        </thead>
        <tbody>
        {% if id is not null %}
        {% for exercice in leaderboard[id] %}
            <tr>
                <td>{{ exercice.prenom }}</td>
                <td>{{ exercice.nom }}</td>
                <td>{{ exercice.totalRepetitions }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}