{% extends 'base.html.twig' %}

{% block title %}HistoriqueExercice index{% endblock %}

{% block body %}
    <h1>HistoriqueExercice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mode</th>
                <th>NombreTours</th>
                <th>NombreRepetition</th>
                <th>Temps</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for historique_exercice in historique_exercices %}
            <tr>
                <td>{{ historique_exercice.id }}</td>
                <td>{{ historique_exercice.mode }}</td>
                <td>{{ historique_exercice.nombreTours }}</td>
                <td>{{ historique_exercice.nombreRepetition }}</td>
                <td>{{ historique_exercice.temps ? historique_exercice.temps|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ historique_exercice.commentaire }}</td>
                <td>
                    <a href="{{ path('app_admin_historique_exercice_show', {'id': historique_exercice.id}) }}">show</a>
                    <a href="{{ path('app_admin_historique_exercice_edit', {'id': historique_exercice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_historique_exercice_new') }}">Create new</a>
{% endblock %}
