{% extends 'base.html.twig' %}

{% block title %}LikeDislike index{% endblock %}

{% block body %}
    <h1>LikeDislike index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for like_dislike in like_dislikes %}
            <tr>
                <td>{{ like_dislike.id }}</td>
                <td>{{ like_dislike.statut }}</td>
                <td>
                    <a href="{{ path('app_admin_like_dislike_show', {'id': like_dislike.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_admin_like_dislike_edit', {'id': like_dislike.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_like_dislike_new') }}" class="btn btn-primary" >Create new</a>
{% endblock %}
