{% extends 'base.html.twig' %}

{% block title %}Recherche d'exercices{% endblock %}

{% block body %}
{# <div class="container">
    <h1>Recherche d'exercices</h1> #}

    {# {{ form_start(form) }}
        {{ form_widget(form) }} #}
        <div>
        <form>
        <input type="search" name="search" placeholder="Recherche">
        <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
    {# {{ form_end(form) }}

    {% if exercices is defined %}
        <h2>Résultats de la recherche</h2>

        <ul>
{% for exercice in exercices %}
        <li>
            Type: {{ exercice.type }} - 
            Durée: {{ exercice.duree }} - 
            Difficulté: {{ exercice.difficulte }}
        </li>
        {% else %}
        <li>Aucun exercice trouvé.</li>
        {% endfor %}
        </ul>
    {% endif %} #}
</div>
{% endblock %}