{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}

    <div class="container mt-5">
 
        <h2 class="mb-3">Commentaires</h2>

        {% for commentaire in exercice.commentaires %}

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ commentaire.getUser_email }}</h5>
                    <p class="card-text">{{ commentaire.commentaire }}</p>
                    <p class="card-text"><small class="text-muted">{{ commentaire.createdAt|date('d-m-Y H:i') }}</small></p>
                </div>
            </div>
            
        {% else %}
            <p>Aucun commentaire pour le moment.</p>
        {% endfor %}

    </div>

        <h1 class="mb-4">Ajouter un commentaire</h1>

        {{ include('commentaire/_form.html.twig') }}

    <div>
        <a href="{{ path('app_exercice_show', {'id': exercice.id}) }}" class="btn btn-primary mt-3 mb-5"><i class="fa-solid fa-arrow-rotate-left"></i> &nbsp; Retour</a>   
    </div>
{% endblock %}