{% extends 'base.html.twig' %}

{% block title %}Historique des WOD{% endblock %}

{% block body %}

    <h1>Historique des WOD</h1>


<table class="table">

    <tbody>
    
        {% for historique in historiqueExercices %}  
            <tr>
                <th>Date du Wod</th>
                <td>{{ historique.exerciceId.createdAt|date('d-m-Y') }}</td>
            </tr>
                <th>Wod</th>
                <td>{{ historique.exerciceId.description }}</td>
            </tr>
                <th>Mode</th>
                <td>{{ historique.mode }}</td>
            </tr>
                <th>Type</th>
                <td>{{ historique.exerciceId.type }}</td>
            </tr>
                <th>Nombre de Tours</th>
                <td>{{ historique.nombreTours }}</td>
            </tr>
                <th>Nombre de Répétitions</th>
                <td>{{ historique.nombreRepetition }}</td>
            </tr>
                <th>Temps</th>
                <td>{{ historique.temps|date('H:i:s') }}</td>
            </tr>
                <th>Commentaire</th>
                <td>{{ historique.commentaire }}</td>
            </tr>
            </div>
        {% else %}
            <tr>
                <td colspan="8">Aucun historique trouvé.</td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>

<a href="{{ path('app_home') }}">Retour</a>

{% endblock %}
