<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('/styles/app.css') }}" as="style">
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    {% if is_granted('ROLE_ADMIN') %}
        {# Si l'utilisateur est un admin, incluez la navbar pour les admins #}
        {{ include('adminNavbar.html.twig') }}

    {% elseif is_granted('ROLE_USER') %}
        {# Si l'utilisateur est connecté mais n'est pas un admin, incluez la navbar pour les utilisateurs #}
        {{ include('userNavbar.html.twig') }}

    {% else %}
        {# Si l'utilisateur n'est pas connecté, incluez la navbar pour les visiteurs #}
        {{ include('navbar.html.twig') }}
    {% endif %}

    <div class="main-container">

            {% block header %}{% endblock %}

        <div class="content">

            {% block body %}{% endblock %}
            
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>


    <div class="footer">
    {% block footer %}
            <div class="row">
                <div class="col-12">
                    <p>©William LUONG</p>
                    <a href=" {{ path('app_mentions_legales') }}">Mentions Légales</a>
                    <a href=" {{ path('app_confidentialite') }}">Politique de confidentialité</a>
                </div>
            </div>
    {% endblock %}
    </div>


</html>
