{% extends 'base.html.twig' %}

{% block title %}Enregistrer l'exercice{% endblock %}

{% block body %}
    <h1>Enregistrer l'exercice</h1>

    {{ form_start(form) }}
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ form_row(form.mode) }}</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.nombreTours) }}</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.temps) }}</td>
                </tr>
                <tr>
                    <td>Score : {{ form_row(form.nombreRepetition) }}</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.commentaire) }}</td>
                </tr>
                <tr>
            </tbody>
        </table>
        
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk fa"></i> &nbsp; Enregistrer</button>

    {{ form_end(form) }}
    <div>
    <a href="{{ path('app_home') }}" class="btn btn-primary"><i class="fa-solid fa-arrow-rotate-left"></i> &nbsp; Retour</a>
    </div>



{% endblock %}